/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f7f9fc;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 900px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.3rem;
  }
  .card {
    margin-bottom: 1rem;
  }
}
